[submodule "backtrader.git"]
	path = backtrader.git
	url = https://github.com/backtrader/backtrader.git
[submodule "alpha_vantage.git"]
	path = alpha_vantage.git
	url = https://github.com/RomelTorres/alpha_vantage.git
